<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini message board</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>MINI Message board</h1>
    <% msg.forEach((i, index) => { %>
    <a href="/msg/<%= index %>" class="msg-link">
      <div class="msg">
        <h3><%= i.text %></h3>
        <p><strong>Posted by:</strong> <%= i.user %></p>
        <p><%= i.added.toISOString().split("T")[0] %></p>
      </div>
    </a>
    <% }); %>
    <a href="/new" class="add">+</a>
  </body>
</html>
